// *------------------------------------*\
// Aspire Themes Main Style
// *------------------------------------*/

// SETTINGS
@import 'settings/_all';


// TOOLS
@import 'tools/_all';


// GENERIC
@import 'generic/_all';


// VENDOR
@import 'vendor/_all';


// ELEMENTS
@import 'elements/_all';


// OBJECTS
@import 'objects/_all';


// Components
@import 'components/_all';


// TRUMPS
@import 'trumps/_all';