// *----------------------------------*\
//  Settings > Colors
// *----------------------------------*/

// Colors
$color-brand: #207cdf;
$color-white: #ffffff;
$color-text:  #222222;


// Background Colors
$bg-color-gray: #fafafa;


// Border
$color-border: #ECF0F1;


// Links
$color-link:        $color-text;
$color-link-hover:  $color-brand;