/*------------------------------------*\
  Components > Inputs
\*------------------------------------*/

$input-border: #cbcbcb;
$input-border-focused: #999;

.c-input {
  width: 100%;
  padding: $base-spacing-unit;

  transition: $global-transition;

  border: 1px solid $input-border;
  border-radius: 2px;
  outline: none;
  background-color: $color-white;

  font-size: $font-size-small;

  appearance: none;

  @include attention() {
    border: 1px solid $input-border-focused;
  }
}